My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "labelIds": [
            "INBOX"
          ],
          "q": "subject: sales"
        },
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -272,
        -816
      ],
      "id": "ef5fc11c-7fa8-4676-8b0d-558e46b74a94",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "ACPYwNIhb1JwvK6O",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "Sales",
          "mode": "list",
          "cachedResultName": "Sales"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "OrderID": "={{ $json.OrderID }}",
            "OrdersDate": "={{ $json.OrderDate }}",
            "CustomerName": "={{ $json.CustomerName }}",
            "CustomerEmail": "={{ $json.CustomerEmail }}",
            "Amount": "={{ $json.Amount }}",
            "Region": "={{ $json.Region }}",
            "Status": "={{ $json.Status }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "OrderID",
              "displayName": "OrderID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "OrdersDate",
              "displayName": "OrdersDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "CustomerName",
              "displayName": "CustomerName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CustomerEmail",
              "displayName": "CustomerEmail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Amount",
              "displayName": "Amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Region",
              "displayName": "Region",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        112,
        -816
      ],
      "id": "a5eb3706-2eae-48f1-9ea8-ae124233f6a9",
      "name": "Insert rows in a table",
      "credentials": {
        "postgres": {
          "id": "k0tXTWdQijrPoWvG",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "binaryPropertyName": "attachment_0",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -64,
        -816
      ],
      "id": "ab2b410a-4b71-4f63-a5a3-3e0ca0ee779c",
      "name": "Extract from File"
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "2af5e271-5e48-46ae-984e-ccaad4976316",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "413319bcb8d2abe98c5e3b0155b9a81c521d97a510632010a9f52f69031ea36f"
  },
  "id": "tdD2FYni0s7nsszm",
  "tags": []
}